{% extends "base.html.twig" %}

{% block body %}

    {{ app.locale }}
{% for locale, lang in languages %}
    <a href="{{ path('app_load', {language: lang}) }}">
        {{ lang }}
    </a>
    |
{% endfor %}
<table>
    <thead>
    <tr>
        <th>lang</th>
        <th>country</th>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    {% for source in sources %}
        <tr>
            <td>
                <code>{{ source.language }}</code>
            </td>
            <td>
                {{ source.country }}
            </td>
            <td>
                <b>
                    {{ source.translate(app.locale).name }}
                </b>
                <i>
                    {{ source.translate(app.locale).description }}
                </i>

            </td>



        </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}
