{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <ul>
        <li>
            <a href="{{ path('headlines_homepage') }}">Headlines</a>
        </li>

        {# deal with headlines separately, license, JSON, etc. #}
        {% for p in ['moma','education', 'cma', 'anki','fake-jobs','mexmus','imdb'] %}
        <li>
                <b>{{ p }}</b>
                <a href="{{ path('pixie_homepage', {pixieName: p ~ '.pixy'}) }}">Show</a>


            IMPORT:
            {% for limit in [50, 500, 5000, 50000, 0] %}
                <a href="{{ path('pixie_import', {limit: limit, pixieName: p ~ '.pixy'}) }}">{{ limit }}</a>
            {% endfor %}
        </li>

            {% endfor %}

    </ul>
</div>
{% endblock %}
